/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* background-color: #e6e6e6; */
}

::-webkit-scrollbar-thumb {
  background-color: #E6E4EC;
  border-radius: 999px;
}