main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.body_container {
  padding-left: 72px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.content {
  padding: 1rem;
  overflow-y: auto;
  flex: 1;
}
