@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:host {
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  text-decoration: none;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  img {
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .user {
    font-size: 1rem;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
  }
  .mail {
    font-weight: 500;
    color: #7a7a7a;
  }
  .name {
    font-weight: 700;
    color: #000;
    padding-bottom: 3px;
  }
}

button {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #a82828;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button p {
  margin: 0;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  .admin {
    gap: 5px;
  }
  button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  img {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 5px;
  }
  .admin {
    gap: 5px;
  }
  button {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}
